/* 评论组件样式 */
.comment-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.comment-item .comment-username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  color: #00a3cf;
  font-style: italic;
}

.comment-item .comment-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 4px;
}

.comment-item .comment-time-str {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
