.two-cols-layout {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.sidebar {
  width: 100px;
  background-color: rgba(0, 0, 255, 0.5);
}
.main {
  padding: 10px;
  flex: 1;
  background-color: rgba(0, 100, 0, 0.5);
}
